body{
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./imagen-fondo.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 1100px;
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
}
div{
    color: #F90C63;
}
.box-uno{
    display: flex;
    flex-direction: column;
    width: 170px;
    border-right: 3px solid #DFE9E9;
}
.box-dos{
    display: flex;
    flex-direction: column;
    width: 170px;
    border-right: 3px solid #DFE9E9;
}
.box-tres{
    display: flex;
    flex-direction: column;
    width: 150px;
    border-right: 3px solid #DFE9E9;
}
.box-cuatro{
    display: flex;
    flex-direction: column;
    width: 80px;
    border-right: 3px solid #DFE9E9;
}
.box-cinco{
    width: 200px;
}
.texto, .fecha{
    height: 25px;
    color: #818390;
    border: none;
    font-size: 18px;
    margin-top: 10px;
}
select{
    height: 25px;
    border: none;
    margin-top: 10px;
}
.boton{
    height: 70px;
    width: 190px;
    color: #ffffff;
    background-color: #F90C63;
    border: none;
    border-radius: 3px;
    font-size: 18px;
}